.containerCard {
    width: 360px;
}

.containerCard img{
    object-fit: cover;
    width:360px;
    height: 360px;
    border-radius: 8px;
    @media (max-width: 768px){
        width:340px;
        height:280px;
    }
}

.card_title {
    width: 60%;
    font-size: 16px;
    padding-left: 10px;
    margin: 0;
    position: relative;
    top: -60px;
}