.containerCard {
    position:relative;
    width: 380px;
    display: flex;
    flex-direction: column;
    @media (max-width:768px){
        width:340px;
    }
}

.containerCard img{
    object-fit: cover;
    width:380px;
    height: 360px;
    border-radius: 8px;
    @media (max-width: 768px){
        width:340px;
        height:280px;
    }
}

.card_title {
    display: flex;
    font-size: 16px;
    padding-left: 10px;
    margin: 0;
    position: relative;
    bottom: 50px;
    @media(max-width: 768px){
        width: 70%;
        bottom: 50px;   
    }
}

.gridCards a{
 @media(max-width: 768px){
    width:340px;
    display: flex;
 }
}

figure{
    margin-inline-start: 0;
    margin-inline-end: 0;
}