.collapseTitle img {
   width:20px;
   justify-content: flex-end;
   transform: rotate(180deg);
   transition: transform 400ms ease;
   transition-duration: 400ms;
}

.collapseTitle {
   display:flex;
   font-weight: 500;
   padding: 10px 10px 10px 10px;
   color: white;
   font-size: 20px;
   background-color: #FF6060 ;
   justify-content:space-between;
   border-radius: 8px;
   @media(max-width:768px){
      margin: 0 0 0 0;
      font-size: 16px;
   }
}

.collapseContent {
   background-color: #F6F6F6;
   font-weight: 300;
   padding: 5px 20px 30px 20px;
   margin: 0;
   color:black;
   font-size: 17px;
   transform: tanslateY(20px);
   transition: transform 0.7s ease;
   transition-delay: 0.2s;
   @media(max-width:768px){
      padding: 5px 10px 15px 10px;
      font-size: 14px;
   }
}

.TextCollapse {
   margin-top: 5px;
   margin-bottom: 5px;
   transition: transform 0.7s ease;
   transition-delay: 0.2s;
}



