.collapseTitle img {
   width:20px;
   justify-content: flex-end;
}

.collapseTitle {
   display:flex;
   width: 85%;
   font-weight: 500;
   padding: 10px 10px 10px 10px;
   margin: 25px 0 25px 90px;
   color: white;
   font-size: 18px;
   background-color: #FF6060 ;
   justify-content:space-between;
   border-radius: 4px;
}

.collapseContent {
   background-color: #F6F6F6;
   font-weight: 300;
   padding: 5px 20px 10px 100px;
   margin: 0;
   color:black;
   font-size: 17px;
   width: 85%;
}

.collapsetext p {
   padding: 0 0 5px 0;
}

.gridCollapse{
   display: flex;
   gap: 50px;
   @media (max-width: 768px) {
      display: block;
   }
}