.containerCollapse {
   font-size: 24px;
   margin: 40px auto;
   border-radius: 10px;
   width: 80%;
}

.containerTitle {
   background-color: #FF6060;
   padding: 10px 20px;
   border-radius: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
}

.containerTitle img {
   width:20px;
}

.collapseTitle {
   font-weight: 500;
   margin: 0;
   color: white;
   font-size: 18px;
}

.collapseText {
   background-color: #F6F6F6;
   font-weight: 300;
   padding: 30px 20px;
   margin: 0;
   color:black;
   font-size: 17px;
}

.collapsetext p {
   padding: 0 0 5px 0;
}

.gridCollapse{
   display: flex;
   gap: 50px;
   @media (max-width: 768px) {
      display: block;
   }
}