.gridCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    background: rgba(235, 233, 233, 0.359);
    margin:40px 40px 20px 40px;
    padding-top: 35px;
    padding-bottom: 35px;
    @media(max-width: 768px){
        background: none;
        flex-direction: column;
        margin: 0 0 0 0;
        gap:20px;
        align-items:center;
        padding-top: 0;
    }
}

.Kas_card {
    display: block;
    flex-direction: column;
    @media(max-width: 768px){
        margin: 0 ;
        align-items: center;
    }
}

a {
    text-decoration: none;
    color:black;
    font-weight: 700;
}

