.Kas-footer {
    position:relative;
    display: grid;
    padding: 10px;
    justify-content: center;
    /* width: 100%; */
    height: 150px;
    background-color: black;
    bottom: 0;
    margin-top: 25px;
    @media(max-width: 768px){
        margin-top: 25px;
    }
}

.Copyrightfooter {
    height: 20px;
    justify-content: center;
}

.Logofooter {
    padding-left: 100px;
    width: 35%;
    height: 40%;
    padding-top: 30px;
    padding-bottom: 15px;
}