.Header {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1420px;
    padding: 0 30px 0 30px;
}

.Kas-logo {
    color:  rgb(240, 22, 7);
    text-align: left;
    width: 150px;
    @media (max-width:768px) {
        width:120px;
    }
}

.Kas-title {
    color:black;
    font-size: 18px;
    font-weight: 500;
    @media(max-width:768px){
        font-size: 14px;
    }
}

.Kas-header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1420px;
    margin-top: 20px;
    margin-bottom: 20px;
    @media (max-width: 768px ){
        margin: auto;
        
    }
}

.Kas-nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap:25px;
}

.Kas-home {
    display: block;
    color: black;
    font-size: 18px;
    font-weight: 500;
    @media(max-width: 768px){
        font-size: 14px;
    }
}