.ContInfo{
   color: #FF6060;
   margin: 30px 0 30px 0;
   display: flex;
   justify-content: space-between;
   @media (max-width: 768px) {
      flex-direction: column;
      margin: 10px 0;
   }
}

.ContInfoLogement{
   width: 70%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   @media (max-width: 768px) {
      width: 100%;
   }
}

.TittleInfo{
   font-size: 36px;
   font-weight: 500;
   margin: 0;
   @media (max-width: 768px) {
      font-size: 25px;
   }
}

.TextInfo{
   color: black;
   margin: 0;
   font-size: 18px;
   @media (max-width: 768px) {
      font-size: 13px;
   }
}

.TagUl{
   padding: 0;
   margin: 25px 0 0;
}

.TagLi{
   font-size: 14px;
   display: inline-block;
   background-color: #FF6060;
   color: white;
   padding: 7px 20px;
   border-radius: 10px;
   margin: 0 20px 10px 0;
   @media (max-width: 768px) {
      font-size: 12px;
      padding: 4px 10px;
      margin: 0 15px 10px 0;
   }
}

.ContInfoOwner{
   width: 30%;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   @media (max-width: 768px) {
      margin: 20px 0 0 0;
      width: 100%;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
   }
}

.ImgOwner{
   width: 90px;
   height: 90px;
   border-radius: 50%;
   margin: 0 0 0 30px;
   @media (max-width: 768px) {
      width: 60px;
      height: 60px;
      border-radius: 50%;
   }
}

.TextInfoOwner{
   margin: 0;
   width: 60px;
   font-size: 18px;
   @media (max-width: 768px) {
      width: 40px;
      font-size: 13px;
   }
}

.Owner{
   display: flex;
   align-items: center;
   margin-bottom: 10px;
   @media (max-width: 768px) {
      margin-bottom: 0;
   }
}

.containerCollapse2{
   display: flex;
   flex-direction: row;
   gap:80px;
   justify-content: space-between;
   @media (max-width:768px){
      flex-direction: column;
      margin-left: 0;
  }
}

.containerCollapse2 .containerCollapses{
   display:flex;
   width: 50%;
   flex-direction: column;
   @media(max-width:768px){
      margin-left: 0; 
      width: 100%;
   }
}

.containerCollapses .collapseTitle{
  margin-left: 0;
  @media (max-width:768px){
  }
}

.containerCollapses .collapseContent{
   padding: 10px 10px 10px 10px;
   @media (max-width: 768px){
   }
}

.containerTags {
   display: flex;
   flex-direction: row;
   gap:20px;
   padding-top: 15px;
   @media (max-width:768px){
      gap:10px;
   }
}