.tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #ff6060;
    color: #f7f7f7;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    border-radius: 12px;
    padding-left: 40px;
    padding-right: 40px;
    @media (max-width:768px){
        font-size: 12px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.tagText {
    margin-top: 5px;
    margin-bottom: 5px;
}